/* 📌 4K */
@media (max-width: 2560px) {
    .header__list {
        grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
        gap: 12px;

        a{
            justify-content: center;
            font-size: 30px;
        }
    }
}

/* 📌 Laptop L */
@media (max-width: 1440px) {
    .header__list {
        grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));

        a{
            font-size: 20px;
        }
    }
}

/* 📌 Laptop */
@media (max-width: 1024px) {
    .header__list {
        grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));

        a{
            font-size: 15px;
        }
    }
}

/* 📌 Планшет */
@media (max-width: 768px){
    .header__list {
        grid-template-columns: repeat(auto-fit, minmax(90px, 1fr));

        a{
            font-size: 14px;
        }
    }
}

/* 📌 Телефон */
@media (max-width: 425px) {
    .header__list {
        grid-template-columns: 1fr;
        gap: 10px;

        a{
            justify-content: flex-start;
        }
    }
}
 